<app-shared-header></app-shared-header>

<div class="container max-w-[40rem] mx-auto p-4">
  <h1 class="text-2xl font-bold mb-4">Update Category</h1>
  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="categoryForm"
    class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
  >
    <div class="mb-4">
      <label
        class="flex items-start text-gray-700 text-sm font-bold mb-2"
        for="name"
      >
        Name
      </label>
      <input
        type="text"
        id="name"
        formControlName="name"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        placeholder="Category Name"
      />
    </div>
    <div class="mb-4">
      <label
        class="flex items-start text-gray-700 text-sm font-bold mb-2"
        for="description"
      >
        Description
      </label>
      <textarea
        id="description"
        formControlName="description"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        placeholder="Category Description"
      ></textarea>
    </div>
    <div class="flex items-center justify-between">
      <button
        type="submit"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      >
        Update Category
      </button>
    </div>
  </form>
</div>
